<html>

<head>
    <title>Chatterbox</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Cabin+Sketch:700" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body style="background-image: url(../images/friends.jpg);
    background-size: cover;">
    <h1 style="color: white;
    font-family: 'Cabin Sketch', cursive;">Error 404</h1>
    <p style="color: white;
    font-family: 'Cabin Sketch', cursive;">Page not found! :(</p>
</body>

</html>