<html>

<head>
    <title>Chatterbox</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Cabin+Sketch:700" rel="stylesheet">
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <div id="index" hide>
        <div id="main_div"></div>
        <div id="chat-area">
            <h1 id="welcome_title">Welcome to the Chatterbox</h1>
            <div id="msg-container">
                <ul id="messages"></ul>
            </div>
            <form role="form" class="form-inline" id="newMessageForm" action="">
                <input class="form-control" placeholder="Type here..." id="newMessage" autocomplete="off" />
                <button class="btn btn-success" type="submit" id="submitMessage">Send</button>
            </form>
        </div>
    </div>
    <div id="user">
        <div id="main_div"></div>
        <div id="welcome-page">
            <h1 id="welcome_title" align="center">Chatterbox</h1>
            <form role="form">
                <input class="form-control" id="user-name" type="text" autocomplete="off" placeholder="Enter your name here" />
                <button class="btn btn-primary" id="enter" align="center" type="submit" disabled>Enter Chatroom</button>
            </form>
        </div>
    </div>
</body>

</html>